#texto{
    text-align: justify !important;
    margin-left: 50px;
}
.corfundomenu{
    background-color:#DB7093!important; 
}

.corletramenu{
    color: white !important;
}

.cor{
    background-color: white !important;
}
